.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Шапка сайта */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color:#f2f2f2;
  display: flex;
  position: relative;
  border: 1px solid red;
}

.logo {
  position: absolute;
  width: 228px;
  height: 32px;
  image: url(../images/logo_place_header.svg);
}
  
.logo_place_header {
  position: absolute;
  margin-left: 64px;
  top: 30px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  position: absolute;
}

.header__main-illustration {
  background-image: url(../images/header-image.png);
  position: absolute;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background: #2f80ed;
}

/* Секция Главные проблемы в обучении */
.description {
  display: flex;
  border: 1px solid red;
}

.two-columns {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  display:inline-block;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0;
  padding-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  float: left;
}

/* Секция блок digits */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  border: 1px solid red;
}

.digits__section-title {
  width: 60%;
  text-align: center;
  height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits__section-subtitle {
  width: 60%; 
  text-align: center;
  height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  border: 1px solid red;
}

.tabel__cell {
  width: 250px;
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0
}

.tabel__heading {
  height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.tabel__text {
  height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*  Секция блок feynmen */
.feynman {
  background-image: url(../images/feynman.png);
  display: flex;
  border: 1px solid red;
}

.feynman__title {

}

.feynman__subtitle {

}

.feynman__link {

}

.feynman__main-illustration {

}

/* Секция блок kaufman */
.kaufman {

}

.section-title__theme_dark {
 
}

.section-subtitle__theme_dark {
  
}
.table__theme_dark {

}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.tabel__heading_theme_dark {

}

.tabel__text_theme_dark {

}

.kaufman__triangle {
  color: #2f80ed;
}

/* Подвал сайта */
.footer {
  display: flex;
  border: 1px solid red;
}
.footer__logo {

}